.BotaoContador {
  width: 3.5rem;
  height: 3.2rem;
  margin: 1rem;
  background-color: #1499d3;
  color: #fff;
  border-radius: 50%;
  font-size: 1.3rem;
  box-shadow: 2px 2px 5px rgba(0, 50, 255, 0.5);
}
.BotaoContador:hover {
  background-color: #fff;
  color: #1499d3;
}

.Contador input {
  font-size: 1.4rem;
  width: 6rem;
  text-align: end;
  margin-left: 1rem;
}
